## Coding Exercise 1.10.

In [1]:
character_job = "pilot"
character_ride = "plane"
character_souvenir = "fruits"
character_pet = "lion"

# Original Text
print("There was once a " + character_job + " who loved adventure")
print(character_job + " would take her " + character_ride + " to unknown places.")
print("She brings home a lot of " + character_souvenir)
print("Then she goes home to her pet " + character_pet + ", Chuckles")

print("\n")

character_job = "pirate"
character_ride = "ship"
character_souvenir = "gold"
character_pet = "parrot"

# New Text
print("There was once a " + character_job + " who loved adventure")
print(character_job + " would take her " + character_ride + " to unknown places.")
print("She brings home a lot of " + character_souvenir)
print("Then she goes home to her pet " + character_pet + ", Chuckles")

There was once a pilot who loved adventure
pilot would take her plane to unknown places.
She brings home a lot of fruits
Then she goes home to her pet lion, Chuckles


There was once a pirate who loved adventure
pirate would take her ship to unknown places.
She brings home a lot of gold
Then she goes home to her pet parrot, Chuckles

## Coding Exercise 1.14

In [ ]:
# printRoses are red, violets are blue
print("Roses are red, violets are blue")

# if 10<7
# print("Ten is greater than seven!")
# if 16<42
# print("Sixteen is less than forty-two!")
if 10 > 7:
    print("Ten is greater than seven!")
if 16 < 42:
    print("Sixteen is less than forty-two!")

# print("A long time ago in a galaxy far, far away...");
print("A long time ago in a galaxy far, far away...")

## Coding Exercise 2.11

In [ ]:
print(10 > 7)
print(str(73911))
print(tuple("Thank God it's Friday!"))
print(float(4302))
print(int(3299.35640))

## Coding Exercise 2.3

In [ ]:
def greeting(name):
    print("Have a nice day, " + name + "!")


greeting("Jeanne")

## Coding Exercise 2.7

In [ ]:
name = input("Name: ")
age = input("Age: ")
fav_color = input("Favorite Color: ")
fav_movie = input("Favorite Movie: ")
mobile_no = input("Mobile number: ")
motto = input("Motto in life: ")

## Coding Exercise 3.4

In [ ]:
class Customers:
    greeting = "Welcome to Coffee Palace, "

    def __init__(self, name, beverage, food, total):
        self.name = name
        self.beverage = beverage
        self.food = food
        self.total = total

c_1 = Customers("Nate", "Espresso", "Pastrami on rye", 220)
c_2 = Customers("Elaine", "Strawberry frappucino", "Tuna wrap", 270)
c_3 = Customers("Samirah", "Iced caffe latte", "Cinnamon roll", 225)
c_4 = Customers("Jerry", "Caramel macchiato", "Glazed doughnut", 230)
c_5 = Customers("Paz", "Iced tea", "Blueberry pancakes", 315)

print(Customers.greeting + c_2.name + "!")
print(c_2.food)
print(c_2.beverage)
print(c_2.total)

print(Customers.greeting + c_4.name + "!")
print(c_4.food)
print(c_4.beverage)
print(c_4.total)

## Coding Exercise 3.8

In [2]:
print(217*6)
print(600+35234)
print(67//12)
print(56329%982)
print(34**5)

1302
35834
5
355
45435424

## Coding Exercise 3.12

In [5]:
my_age = 22
mom_age = 61
sister_age = 29 

print(mom_age<sister_age and my_age==22)
print(mom_age == 61)
print(mom_age>34 or sister_age==22)
print(mom_age>=54)
print(not(sister_age<=400 and my_age==22))

False
True
True
True
False

# Coding Exercise 4.4

In [ ]:
x = 332
y = 2031

if x > y:
    print("x is greater than or equal to y")
elif x == y:
    print("x is equal to y")
else:
    print("x is less than y")

# Coding Exercise 4.8

In [ ]:
# For Loops
furniture = ["table", "chair", "cabinet", "desk", "couch"]

for x in furniture:
    if x == "cabinet":
        continue
    print(x)

# While Loops
i = 1
while(i < 15):
    print(i)
    i = i + 1
else:
    print("i is no longer less than 15")